.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background:transparent;
  }
  .header h1{
    color: rgb(163, 58, 58);
  }
 
  
 
  
  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    
  }
  