.profile-container {
  margin-top: 50px;
  background-color: #d4dcdc;
  border-radius: 5px;
  margin: 25px 50px 0 50px; /* Changed left and right margin to 50px for smaller screens */
}
.profile-information{
  margin-top: 50px;
}
.profile-information td{
font:caption;
}

@media only screen and (min-width: 768px) {
  .profile-container {
    margin: 25px auto 0 auto; /* Centered the container for larger screens */
    max-width: 800px; /* Added a maximum width to prevent the container from becoming too wide */
  }
}

.profile-content {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Changed align-items to flex-start to prevent content from overlapping on smaller screens */
}

.profile-image {
  width: 200px;
  height: 200px;
  margin: 30px;
}

.profile-information td:first-child {
  width: 40%; /* Increased width of first td element for better visibility on smaller screens */
}

.profile-information{
 padding-bottom: 50px;
}
.profile-information td{
font:caption;
margin-left: 50px;

}
.profile-header{
  background-color:#092640;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.profile-header h3{
margin: 0;
}

@media (max-width: 767px) {
  .profile-container {
    margin: 25px 20px 0 20px; /* Changed left and right margin to 20px for smaller screens */
  }

  .profile-image {
    margin: 20px 0;
  }

  .profile-information td {
    display: block;
    text-align: left; /* Changed text-align to left for better readability on smaller screens */
  }

  .profile-information td:first-child {
    margin-bottom: 10px; /* Increased margin-bottom for better spacing on smaller screens */
  }
}
